<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>jhgjhgjg</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1 class="titulo-1">Lih Parreiras</h1>
        <p>Este é o meu site dinâmico.</p>
        <a href="/trabalhos">Trabalhos</a>
        <a href="/processos">Processos</a>
    </body>
</html>