<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="titulo-1"><%= title %>Trabalhos</h1>
  <p>Esta é a página referente a trabalhos</p>
</body>
</html>